<a href="https://colab.research.google.com/github/pincha673/notes/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Exploratory Data Analysis***

In [1]:
import pandas as pd                                                                 #import librarires
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving data_clean.csv to data_clean.csv

In [10]:
data = pd.read_csv('data_clean.csv', index_col =0)                               # one extra column(unnamed) is removed and one column is set for index

In [11]:
data

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
1     41.0    190.0   7.4     67     5    1  2010    67       S
2     36.0    118.0   8.0     72     5    2  2010    72       C
3     12.0    149.0  12.6     74     5    3  2010    74      PS
4     18.0    313.0  11.5     62     5    4  2010    62       S
5      NaN      NaN  14.3     56     5    5  2010    56       S
..     ...      ...   ...    ...   ...  ...   ...   ...     ...
154   41.0    190.0   7.4     67     5    1  2010    67       C
155   30.0    193.0   6.9     70     9   26  2010    70      PS
156    NaN    145.0  13.2     77     9   27  2010    77       S
157   14.0    191.0  14.3     75     9   28  2010    75       S
158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 9 columns]

In [12]:
data.head()

   Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
1   41.0    190.0   7.4     67     5    1  2010    67       S
2   36.0    118.0   8.0     72     5    2  2010    72       C
3   12.0    149.0  12.6     74     5    3  2010    74      PS
4   18.0    313.0  11.5     62     5    4  2010    62       S
5    NaN      NaN  14.3     56     5    5  2010    56       S

In [13]:
data.tail()

     Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
154   41.0    190.0   7.4     67     5    1  2010    67       C
155   30.0    193.0   6.9     70     9   26  2010    70      PS
156    NaN    145.0  13.2     77     9   27  2010    77       S
157   14.0    191.0  14.3     75     9   28  2010    75       S
158   18.0    131.0   8.0     76     9   29  2010    76       C

In [14]:
data.info()                                                                     # information about the data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 1 to 158
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    120 non-null    float64
 1   Solar.R  151 non-null    float64
 2   Wind     158 non-null    float64
 3   Temp C   158 non-null    object
 4   Month    158 non-null    object
 5   Day      158 non-null    int64
 6   Year     158 non-null    int64
 7   Temp     158 non-null    int64
 8   Weather  155 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 12.3+ KB

In [17]:
data.shape                                                                      #total columns and rows

(158, 9)

In [19]:
data.dtypes                                                                       #data types

Ozone      float64
Solar.R    float64
Wind       float64
Temp C      object
Month       object
Day          int64
Year         int64
Temp         int64
Weather     object
dtype: object

In [21]:
data.describe()                                                                  # statistical value of the data

            Ozone     Solar.R        Wind         Day    Year        Temp
count  120.000000  151.000000  158.000000  158.000000   158.0  158.000000
mean    41.583333  185.403974    9.957595   16.006329  2010.0   77.727848
std     32.620709   88.723103    3.511261    8.997166     0.0    9.377877
min      1.000000    7.000000    1.700000    1.000000  2010.0   56.000000
25%     18.000000  119.000000    7.400000    8.000000  2010.0   72.000000
50%     30.500000  197.000000    9.700000   16.000000  2010.0   78.500000
75%     61.500000  257.000000   11.875000   24.000000  2010.0   84.000000
max    168.000000  334.000000   20.700000   31.000000  2010.0   97.000000

# ***Correct the dtypes***

In [22]:
data['Month'] = pd.to_numeric(data['Month'],errors = 'coerce')                  # to change the dtype of month and along with replace the object as NA

In [23]:
data['Temp C'] = pd.to_numeric(data['Temp C'], errors = 'coerce')               # to change the dtype of Temp and replace the wrong object with NA

In [24]:
data['Weather'] = data['Weather'].astype('category')                            # to change the wether as a category

In [29]:
data.dtypes                                                                     # checked the data types again

Ozone       float64
Solar.R     float64
Wind        float64
Temp C      float64
Month       float64
Day           int64
Year          int64
Temp          int64
Weather    category
dtype: object

# ***Duplicates***

In [31]:
data.duplicated()                                                                # to check the duplicated values in the data

1      False
2      False
3      False
4      False
5      False
       ...
154    False
155    False
156    False
157     True
158    False
Length: 158, dtype: bool

In [34]:
data[data.duplicated()].shape                                                   # To check the rows and columns of the duplicated entery

(1, 9)

In [35]:
data_cleaned1 = data.drop_duplicates()                                           # the duplictaes row and columns will be removed

In [36]:
data_cleaned1

     Ozone  Solar.R  Wind  Temp C  Month  Day  Year  Temp Weather
1     41.0    190.0   7.4    67.0    5.0    1  2010    67       S
2     36.0    118.0   8.0    72.0    5.0    2  2010    72       C
3     12.0    149.0  12.6    74.0    5.0    3  2010    74      PS
4     18.0    313.0  11.5    62.0    5.0    4  2010    62       S
5      NaN      NaN  14.3    56.0    5.0    5  2010    56       S
..     ...      ...   ...     ...    ...  ...   ...   ...     ...
153   20.0    223.0  11.5    68.0    9.0   30  2010    68       S
154   41.0    190.0   7.4    67.0    5.0    1  2010    67       C
155   30.0    193.0   6.9    70.0    9.0   26  2010    70      PS
156    NaN    145.0  13.2    77.0    9.0   27  2010    77       S
158   18.0    131.0   8.0    76.0    9.0   29  2010    76       C

[157 rows x 9 columns]